<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Appkey" value="dingrbxaxe3iw6pgglq4"/>
      <add key="Appsecret" value="a_eYEm_zApL0hrSZL_HKa8_Y80cLeE5gcWz0jduOg_7LcYdTqn4t9pxAdSkW-cSQ"/>
      <add key="H3EngineCode" value="rhv4u004g4v2kks5cmog0vlj2"/>
      <add key="H3Secret" value="C42w2DA7xmFRNMRyst8+QihoQIm/Az0rIem0FDn5LKE2vyffz1ISSg=="/>
      <add key="StartSyncWorkDate" value=""/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceForDingSoap"  maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
            <!--<customBinding>
                <binding name="WebServiceForDingSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>-->
        </bindings>
        <client>
            <endpoint address="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceForDingSoap"
                contract="ShiChuangService.WebServiceForDingSoap" name="WebServiceForDingSoap" />
            <!--<endpoint address="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx"
                binding="customBinding" bindingConfiguration="WebServiceForDingSoap12"
                contract="ShiChuangService.WebServiceForDingSoap" name="WebServiceForDingSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>